<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="container py-lg-5">
  <div class="row">
    <div class="col-sm">
      <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="container py-3">
    <div class="row">
      <div class="col-sm">
        <%= link_to 'Show', post %>
      </div>
      <div class="col-sm">
        <%= link_to 'Edit', edit_post_path(post) %>
      </div>
      <div class="col-sm">
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
<% end %>


